<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
body{
  position: absolute;
  top: -20px;
  left: 0px;
  right: 0px;
  bottom: -40px;
  width: auto;
  height: auto;
  background-image: url(/css/refrigerator.jpg);
  background-size: cover;
  z-index: 0;
}
</style>
<head>
<meta charset="UTF-8">
<title>商品登録</title>
</head>
<body>
<h1>商品登録</h1>
<hr>
<form action="/admin/items/add" method="post">
<table border="1">
	<tr>
		<th>カテゴリーID</th><td>
<!--			<input type="text" name="categoryId">-->
			<select name="categoryId">
    		<option th:each="c:${categories}" th:value="${c.id}">[[${c.name}]]</option>
			</select>
		</td>
	</tr>
	<tr>
		<th>商品名</th><td><input type="text" name="name"></td>
	</tr>
	
</table>
<input type="submit" value="登録">
</form>
</body>
</html>