<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
body{
  position: absolute;
  top: -20px;
  left: 0px;
  right: 0px;
  bottom: -40px;
  width: auto;
  height: auto;
  background-image: url(/css/refrigerator.jpg);
  background-size: cover;
  z-index: 0;
}
</style>
<head>
<meta charset="UTF-8">
<title>商品登録</title>
</head>
<body>
<h1>商品登録</h1>
<hr>
<form action="/admin/menu/add" method="post">
<table border="1">
	
	<tr>
		<th>メニュー名</th><td><input type="text" name="menu"></td>
	</tr>
	<tr>
		<th>食材名1</th><td>
			<select name="food1">
    		<option th:each="c:${list}" th:value="${c.id}">[[${c.name}]]</option>
			</select>
		</td>
	</tr>
	<tr>
		<th>食材名2</th><td>
			<select name="food2">
			<option value=0></option>
    		<option th:each="c:${list}" th:value="${c.id}">[[${c.name}]]</option>
			</select>
		</td>
	</tr>
	<tr>
		<th>食材名3</th><td>
			<select name="food3">
			<option value=0></option>
    		<option th:each="c:${list}" th:value="${c.id}">[[${c.name}]]</option>
			</select>
		</td>
	</tr>
</table>
<input type="submit" value="登録"><br>
<a href="/admin/menu">戻る</a>
</form>
</body>
</html>