<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
body{
  position: absolute;
  top: -20px;
  left: 0px;
  right: 0px;
  bottom: -40px;
  width: auto;
  height: auto;
  background-image: url(/css/sako_fridge2.jpeg);
  background-size: cover;
  z-index: 0;
}
</style>
<head>
<meta charset="UTF-8">
<title>食材一覧</title>


<h1>食材一覧</h1>

</head>
<body>

		<table border="1" class="design16">
			<tr>
			
				
				<th>カテゴリーID</th>
				<th>カテゴリー名</th>
				<th>削除</th>
				
			</tr>
			<tr th:each="data:${categories}">
				<td th:text="${data.id}"></td>
				<td th:text="${data.name}"></td>
				
				<form th:action="|/admin/category/${data.id}/detail|" method="get">
				<td>
				<input type="submit" value="削除">
				</td>
				</form>
			</tr>
		</table>
	
	<a href="/admin/category/add">カテゴリーの追加</a>
	<a href="/admin/items">食材一覧</a>
	<a href="/admin/menu">メニュー一覧</a>
</body>
</html>