<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
body{
  position: absolute;
  top: -20px;
  left: 0px;
  right: 0px;
  bottom: -40px;
  width: auto;
  height: auto;
  background-image: url(/css/refrigerator.jpg);
  background-size: cover;
  z-index: 0;
}
</style>
<head>
<meta charset="UTF-8">
<title>食材一覧</title>
<h1>食材一覧</h1>
</head>
<body>
<div class="tab-001">
	<label>
		<a href="/admin/items">全商品</a>
    </label>
    <label th:each="c:${categories}">
		
        <a th:href="'/admin/items?categoryId='+${c.id}">
			<span th:text="${c.name}" style="padding-left: 10px;"></span>
		</a>
		
    </label>
</div>
		
		<table border="1" class="design16">
			<tr>
			
				<th>商品ID</th>
				<th>カテゴリーID</th>
				<th>食材名</th>
				<th>削除</th>
				
			</tr>
			<tr th:each="data : ${list}">
				<td th:text="${data.id}"></td>
				<td th:text="${data.categoryId}"></td>
				<td th:text="${data.name}"></td>
				
				<form th:action="|/admin/items/${data.id}/detail|" method="get">
				<td>
				<input type="submit" value="削除">
				</form>
				</td>
			</tr>
		</table>
	
	<a href="/admin/items/add">食品の追加</a>
	<a href="/admin/categroy">カテゴリー一覧</a>
	<a href="/admin/menu">メニュー一覧</a>
</body>
</html>