<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
body{
  position: absolute;
  top: -20px;
  left: 0px;
  right: 0px;
  bottom: -40px;
  width: auto;
  height: auto;
  background-image: url(/css/refrigerator.jpg);
  background-size: cover;
  z-index: 0;
}
</style>
<head>
<meta charset="UTF-8">
<title>食材一覧</title>


<h1>食材一覧</h1>

</head>
<body>	
		<table border="1" >
			<tr>
				<th>メニューID</th>
				<th>メニュー名</th>
				<th>食材1</th>
				<th>食材2</th>
				<th>食材3</th>
				<th>削除</th>
				
			</tr>
			<tr th:each="data:${chahan}">
				<td th:text="${data.id}"></td>
				<td th:text="${data.menu}"></td>
				<td th:text="${data.name1}"></td>
				<td th:text="${data.name2}"></td>
				<td th:text="${data.name3}"></td>
				
				<form th:action="|/admin/menu/${data.id}/detail|" method="get">
				<td>
				<input type="submit" value="削除">
				</td>
				</form>
			</tr>
		</table>
	
	<a href="/admin/menu/add">メニューの追加</a>
	<a href="/admin/items">食材一覧</a>
	<a href="/admin/categroy">カテゴリー一覧</a>
</body>
</html>