<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>食材登録</title>
<header th:replace="header"></header>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<br>
<br>
<h1>Register Ingredients !</h1>

    <div class="tag">
	<p th:each="err:${err}">[[${err}]]</p>
		<a href="/items/add">All</a>
		<a th:each="c:${categories}" th:href="'/items/add?categoryId='+${c.id}">
			<span th:text="${c.name}" style="padding-left: 10px;"></span>
		</a>
    </div>
		
<form action="/items/confirm" method="post">
<div class="example">
<table border="1">
	<tr>
		<th>入力日</th><td>[[${data}]]</td>
		<input type="hidden" name="today" th:value="${data}">
	</tr>
	<tr>
		<th>食材名</th><td>
			<select name="categoryId">
    		<option th:each="c:${list}" th:value="${c.id}">[[${c.name}]]</option>
			</select>
		</td>
	</tr>
	<tr>
		<th>賞味期限</th><td><input type="date" name="care" th:value="${care}"></td>
	</tr>
	<tr>
		<th>価格</th><td><input type="text" name="price" th:value="${price}">円</td>
	</tr>
	<tr>
		<th>保存場所</th>
		<td>
			<input type="radio" name="save" value=1 checked>冷蔵庫<br>
			<input type="radio" name="save" value=2>冷凍庫<br>
			<input type="radio" name="save" value=3>野菜室<br>
			<input type="radio" name="save" value=4>常温<br>
		</td>
	</tr>

</table>
</div>
<div class="atag"><input type="submit" value="登録"></div>
</form>
<div class="atag"><a href="/items">戻る</a></div>
</body>
<footer th:replace="footer"></footer>
</html>