<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品登録</title>
</head>
<body>
<h1>商品登録</h1>
<hr>
<form action="/items/add" method="post">
<table border="1">
	<tr>
		<th>カテゴリー</th><td>
<!--			<input type="text" name="categoryId">-->
			<select name="categoryId">
    		<option th:each="c:${categories}" th:value="${c.id}">[[${c.name}]]</option>
			</select>
		</td>
	</tr>
	<tr>
		<th>食材名</th><td><input type="text" name="name"></td>
	</tr>
	<tr>
		<th>商品詳細</th><td><input type="text" name="detail"></td>
	</tr>
</table>
<input type="submit" value="登録">
</form>
</body>
</html>