<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>食材登録</title>
</head>
<body>
<h1>食材登録</h1>
<hr>

<a href="/items/add">全食材</a>
		<a th:each="c:${categories}" th:href="'/items/add?categoryId='+${c.id}">\
			<span th:text="${c.name}" style="padding-left: 10px;"></span>
		</a>
<form action="/items/confirm" method="post">
<table border="1">
	<tr>
		<th>入力日</th><td>[[${data}]]</td>
		<input type="hidden" name="today" th:value="${data}">
	</tr>
	<tr>
		<th>食材名</th><td>
			<select name="categoryId">
    		<option th:each="c:${list}" th:value="${c.id}">[[${c.name}]]</option>
			</select></td>
		</td>
	</tr>
	<tr>
		<th>賞味期限</th><td><input type="date" name="care"></td>
	</tr>
	<tr>
		<th>価格</th><td><input type="text" name="price" >円</td>
	</tr>
	<tr>
		<th>コメント</th><td><textarea name="detail"></textarea></td>
	</tr>
</table>
<input type="submit" value="登録1">
</form>
<a href="/items">戻る</a>
</body>
</html>