<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登録確認</title>
<header th:replace="header"></header>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<br>
	<br>
	<h1>Confirm Registration !</h1>
	
	<form action="/items" method="post">
	<div class="example">
	<table border="1">
		<input type="hidden" name="categoryId" th:value="${data.categoryId}">
		<input type="hidden" name="itemId" th:value="${data.id}">
		<tr>
		<th>入力日</th><td>[[${today}]]</td>
		<input type="hidden" name="today" th:value="${today}">
	</tr>
	<tr>
		<th>食材名</th><td>[[${data.name}]]
			<input type="hidden" name="name" th:value="${data.name}">
		</td>
	</tr>
	<tr>
		<th>賞味期限</th><td>[[${care}]]</td>
		<input type="hidden" name="care" th:value="${care}">
	</tr>
	<tr>
		<th>価格</th><td>[[${price}]]円</td>
		<input type="hidden" name="price" th:value="${price}">
	</tr>
	<tr>
		<th>保存場所</th><td>[[${box}]]</td>
		<input type="hidden" name="save" th:value="${save}">
	</tr>
	<tr>
		<th>コメント</th><td>[[${detail}]]</td>
		<input type="hidden" name="detail" th:value="${detail}">
	</tr>
	</table>
	</div>
	
	<div class="atag"><input type="submit" value="登録完了"></div>
<form action="/items/add" method="get">
	<div class="atag"><input type="submit" value="登録内容変更"></div>
	</form>
</body>
<footer th:replace="footer"></footer>
</html>