<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>詳細</title>
<header th:replace="header"></header>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<br>
	<br>
<h1>詳細</h1>
<table border="1">
	<tr>
		<th>食材</th><td>[[${item.name}]]</td>
	</tr>
	
	<tr>
		<th>購入日</th><td>[[${item.today}]]</td>
	</tr>
	<tr>
		<th>賞味期限</th><td>[[${item.care}]]</td>
	</tr>
	<tr>
		<th>価格</th><td>[[${item.price}]]円</td>
	</tr>
	<tr>
		<th>保存場所</th><td>[[${save}]]</td>
	</tr>
	<th>残量</th>
		<td>
			0%<input type="range" list="markers" name="range"
			min="0" max="100" th:value="${range}" step="10">100%
			<datalist id="markers">
				<option value="10"></option>
				<option value="20"></option>
				<option value="30"></option>
				<option value="40"></option>
				<option value="50"></option>
				<option value="60"></option>
				<option value="70"></option>
				<option value="80"></option>
				<option value="90"></option>
			</datalist>
		</td>
	<tr>
	<th>コメント</th><td>[[${detail}]]</td>
</table>
<a href="/items">戻る</a>
</body>
<footer th:replace="footer"></footer>
</html>