<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>詳細</title>
<header th:replace="header"></header>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<br>
	<br>
<h1>Details</h1>
<div class="example">
<table border="1">
	<tr>
		<th>食材</th><td>[[${item.name}]]</td>
	</tr>
	
	<tr>
		<th>購入日</th><td>[[${item.today}]]</td>
	</tr>
	<tr>
		<th>賞味期限</th><td>[[${item.care}]]</td>
	</tr>
	<tr>
		<th>価格</th><td>[[${item.price}]]円</td>
	</tr>
	<tr>
		<th>保存場所</th><td>[[${save}]]</td>
	</tr>
	<tr>
	<th>コメント</th><td>[[${detail}]]</td>
	</tr>
</table>
</div>
<div class="atag"><a href="/items">戻る</a></div>
</body>
<br>
<footer th:replace="footer"></footer>
</html>