<!--<header>-->
<!--	<h1><a href="/items">一人暮らしの漢に捧げるチャーハンサイト</a></h1>-->
<!--	<a href="/logout">ログアウト</a>-->
<!--</header>-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ヘッダー</title>
<link rel="stylesheet" href="/css/Header3.css" />



<html>
<!--<body>-->
<!--   <input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>-->
<!--   <label for="drawer-toggle" id="drawer-toggle-label"></label>-->
<!--   <header>Eternal Fridge and FriedRice</header>-->
<!--   <nav id="drawer">-->
<!--      <ul>-->
<!--         <li><a href="/items">ホーム</a></li>-->
<!--          <li><a href="/items/add">登録</a></li>-->
<!--          <li><a href="/items/search">レシピ</a></li>-->
<!--          <li> <a href="/logout">ログアウト</a></li>-->
<!--      </ul>-->
<!--   </nav>-->
<!--   <div id="page-content">-->
<!--      <p>Page Content</p>-->
<!--   </div>-->
<!--</body>-->
<!--</html>-->

<body>
  <header class="header">
    <div class="navtext-container">
      <div class="navtext">Eternal Fridge and FriedRice</div>
    </div>
    <input type="checkbox" class="menu-btn" id="menu-btn">
    <label for="menu-btn" class="menu-icon"><span class="navicon"></span></label>
    <ul class="menu">
      <li class="top"><a href="/items">ホーム</a></li>
          <li><a href="/items/add">登録</a></li>
          <li><a href="/items/search">レシピ</a></li>
          <li> <a href="/logout">ログアウト</a></li>
    </ul>

  </header>

</body>

</html>