<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ヘッダー</title>
<link rel="stylesheet" href="/css/Header3.css" />

<body>
  <header class="header">
    <div class="navtext-container">
      <div class="navtext" >Eternal Fridge and FriedRice</div>
    </div>
    <input type="checkbox" class="menu-btn" id="menu-btn">
    <label for="menu-btn" class="menu-icon"><span class="navicon"></span></label>
    <ul class="menu">
      <li class="top"><a href="/items">Home</a></li>
          <li><a href="/items/add">Register</a></li>
          <li><a href="/items/search">Menu</a></li>
          <li> <a href="/logout">Logout</a></li>
    </ul>

  </header>

</body>

</html>