<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>食材一覧</title>
<h1>食材一覧</h1>

</head>
<body>

	
<!--	<nav>-->
		
<!--	<form>-->
<!--		<input type="text"  name="keyword" placeholder="商品名" th:value="${keyword}">|-->
<!--		<input type="text"  name="maxPrice" placeholder="価格" th:value="${maxPrice}">円以下の-->
<!--		<button>検索</button>-->
<!--	</form>-->

<!--		<a href="/items">全商品</a>-->
<!--		<a th:each="c:${categories}" th:href="'/items?categoryId='+${c.id}">-->
<!--			<span th:text="${c.name}" style="padding-left: 10px;"></span>-->
<!--		</a>-->
<!--		<a href="/cart" style="padding-left: 10px;">カートを見る</a>-->
<!--	</nav>-->
<!--	<main>-->
		<table border="1">
			<tr>
				<th>NO</th>
				<th>食材名</th>
				<th>商品詳細</th>
				<th></th>
			</tr>
			<tr th:each="data : ${item}">
				<td th:text="${data.id}"></td>
				<td th:text="${data.name}"></td>
				<td th:text="${data.detail}"></td>
<!--				<td>-->
<!--					<form action="/cart/add" method="post">-->
<!--						<input type="hidden" name="itemId" th:value="${item.id}">-->
<!--						<button>カートに追加</button>-->
<!--					</form>-->
<!--				</td>-->
			</tr>
		</table>
<!--	</main>-->
<!--	<hr>-->
	
</body>
</html>