<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<head>
<meta charset="UTF-8">
<title>食材一覧</title>
<header th:replace="header"></header>
</head>
<body>
	<br>
	<br>
	<h1>What's in the Fridge Now ?</h1>
	
	<div class="tag">
		<a href="/items" class="active">All</a>
		<a  th:each="c:${fridge}" th:href="'/items?fridge='+${c.id}">
			<span th:text="${c.name}" style="padding-left: 10px;"></span>
		</a>
	</div>
	
<div class="example">
<table border="1">
			<tr>
				<th>食材名</th>
				<th>購入日</th>
				<th>賞味期限</th>
				<th></th>
			</tr>
			<tr th:each="data : ${item}">
				<td td data-label="購入日"class="price" th:text="${data.name}"></td>
				<td th:text="${data.today}"></td>
				<td th:text="${data.care}"></td>
				
				<form th:action="|/items/${data.id}/detele|" method="get">
				<td>
				<input type="submit" value="削除">
				</form>
				</td>
			</tr>
		</table>
</div>

<br>
<br>

<th:block th:if="${err1}!=null">
  <ul class="news-list">
    <li class="item" th:each="i : ${#numbers.sequence(0, err1.size() -1)}" >
		<b>
            <p class="category"><span>[[${name1.get(i)}]]</span></p>
            <p class="date">賞味期限：[[${data1.get(i)}]]</p>
            <p class="title"><a th:href="|/items/${id1.get(i)}/detele|">[[${err1.get(i)}]]</a></p>
        </b>
    </li>
    </ul>
   </th:block>
<br>
<br>
<br>	
</body>
<footer th:replace="footer"></footer>
</html>