<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>消費額</title>
<header th:replace="header"></header>
<link rel="stylesheet" type="text/css" href="/css/style.css">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
</head>
<body>
	<br>
	<br>
	<h1>Monthly Consumption</h1>
	
	<div class="tag">
	<a href="/items/enn">All</a>
		<a th:each="c:${month}" th:href="'/items/enn?month1='+${c}">
			<span style="padding-left: 10px;">[[${c}]]月</span>
		</a>
<!--		<input type="hidden" name="month" th:value="${month}">-->
	</div>

<div class="example">
<table border="1">
			<tr>
				<th>食材名</th>
				<th>購入日</th>
				<th>金額</th>
			</tr>
			<tr th:each="data : ${list}">
				<td th:text="${data.name}"></td>
				<td th:text="${data.today}"></td>
				<td >[[${data.price}]]円</td>
			</tr>
		</table>
		</div>
		
		<br>
		
	<div style="  left:400px; width:800px; height:500px; 
	 margin-left: auto; margin-right: auto;">
	<canvas id="ChartDemo"></canvas>
    <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var ctx = document.getElementById("ChartDemo").getContext('2d');
    var ChartDemo = new Chart(ctx, {
        type: 'line',
        data: {
            // コントローラーで格納したlabelを変数式で取り出すだけ。
            labels: /*[[ ${label} ]]*/,
            datasets: [
                {
                    label: "Monthly Consumption",
                    borderColor: 'rgb(255, 0, 0)',
                    lineTension: 0,
                    fill: false,
                    // 上記と同様、pointを変数式で取り出しているだけです。
                    data: /*[[ ${point} ]]*/,
                },
            ]
        },
        options: {
            responsive: true,
        }
    });
    /*]]>*/
    </script>
    <div class="atag"><a href="/items">戻る</a></div>
	</div>	
</body>
<footer th:replace="footer"></footer>
</html>