<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>エンゲル</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>消費額</h1>

	<a href="/items/enn">全商品</a>
		<a th:each="c:${month}" th:href="'/items/enn?month1='+${c}">
			<span th:text="${c}" style="padding-left: 10px;"></span>
		</a>
<!--		<input type="hidden" name="month" th:value="${month}">-->
		
<table border="1">
			<tr>
				<th>NO</th>
				<th>食材名</th>
				<th>金額</th>
			</tr>
			<tr th:each="data : ${list}">
				<td th:text="${data.id}"></td>
				<td th:text="${data.name}"></td>
				<td th:text="${data.price}"></td>
			</tr>
		</table>
	<a href="/items">戻る</a>
</body>
</html>