<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>メニュー検索</title>
<header th:replace="header"></header>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="body"></div>
<br>
<br>
	<h1>Search the Menu !</h1>
<div class="tag">
	<label>
		<a href="/items/search">All</a>
    </label>
    <label th:each="c:${categories}">
        <a th:href="'/items/search?categoryId='+${c.id}">
			<span th:text="${c.name}" style="padding-left: 10px;"></span>
		</a>
    </label>
</div>
		
		<div class="example">
		<table border="1">
			<tr>
				<th>食材名</th>
				<th>購入日</th>
				<th>賞味期限</th>
				<th></th>
			</tr>
			<tr th:each="data : ${item}">
				<td th:text="${data.name}"></td>
				<td th:text="${data.today}"></td>
				<td th:text="${data.care}"></td>
				
			<form th:action="|/items/${data.id}/search|" method="post">
				<td>
				<div class="sound"><input type="submit" value="検索"></div>
				</td>
				</form>
			</tr>
		</table>
		</div>
		
		<br>
		<br>
		
		<th:block th:if="${box}!=null">
		<tr th:each="element : ${element}">
		<th:text="${element.element}"></th:text>
		</tr>

        <div class="example">
		<table border="1">
			<tr>
				<th>メニュー</th><th>素材1</th><th>素材2</th><th>素材3</th> 
			</tr>
			<tr th:each="data : ${list}">
				<td th:text="${data.menu}"></td>
			</tr>
		</table>
		</div>
		</th:block>
</body>
<footer th:replace="footer"></footer>
</html>