<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
<h1>顧客一覧</h1>
<span th:text="'こんにちは、'+${@account.name}+' さん'"></span>
<form>
<p>
<input type="text" name="keyword" placeholder="名前" th:value="${keyword}">
<button>検索</button>
</p>
</form>
<table border="1">
	<tr>
		<th>顧客ID</th><th>名前</th><th>メールアドレス</th><th>パスワード</th><th>更新</th><th>削除</th>
	</tr>
	<tr th:each="data : ${list}">
		<td>[[${data.id}]]</td>
		<td>[[${data.name}]]</td>
		<td>[[${data.email}]]</td>
		<td>[[${data.password}]]</td>
		<td>
			<form th:action="|/users/${data.id}/edit|" method="get">
			<input type="submit" value="更新">
			</form>
		</td>
		<td>
			<form th:action="|/users/${data.id}/delete|" method="get">
			<input type="submit" value="削除">
			</form>
		</td>
	</tr>
</table>
<a href="/users/add">新規登録</a>
</body>
</html>